.header-nav{
    box-shadow: 3px 3px 3px grey;
}

.content-section {
    padding: 0 10%;
}


/* For media query use*/
/*@media only screen and (max-width: 600px) {
    .content-section {
      padding: 0 10px;
    }
}*/
.header-nav a {
    font-weight: bolder;
}